.header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    margin-bottom: 10px;
    min-width: 0;
    display: flex;
    align-items: stretch;
    font-size: 16px;
    line-height: 1.5em;

}
.header a{
    transition: color 0.2s;
}
.header a:hover{
    color: var(--blue-hover-color);
}

.author{
    font-weight: 500;
}

.subImg{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 6px;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.headerItem{
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.time{}
.time:hover{
    color: var(--blue-hover-color);
}