.container{
    width: 220px;

}

.sideBar{
    margin: 12px 10px;
}

.element{
    display: flex;
    align-items: center;
    height: 44px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 3px;
    border-radius: 8px;
}

.link{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    flex-grow: 2;
    padding: 0 13px;
    border-radius: 8px;
}

.activeLink{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    flex-grow: 2;
    padding: 0 13px;
    background-color: white;
    border-radius: 8px;
}

.activeLink svg{
    color: #e5a040;
}

.itemsIcons{
    color: #595959;
    margin-right: 12px;
}