.comments{
    color: #595959;
}

.commentCounter{
    display: flex;
    align-items: center;
}

.commentsIcon{
    width: 24px;
    height: 24px;
}

.commentsAmount{
    margin-left: 4px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}