.main{
    display: flex;
    width: 100%;
    flex: 1;
}

.content{
    flex-grow: 1;
    min-width: 0;
}

.wrapper{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}