.editorContainer{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    position: relative;
}

.editorModal{
    background-color: #fff;
    margin: 20px auto;
    position: absolute;
    max-width: 880px;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    outline: 0;
    border-radius: 8px;
    display: flex;
}

/*title*/
.Ieditor {
    /*offset: 20px;*/
    max-width: 650px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    align-self: stretch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
}



.inputTitle{
    display: block;
    width: 100%;
    height: 47px;
    margin: 0 0 9px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: 0;
    outline: 0 !important;
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 500;
}

::-webkit-input-placeholder {
    color: #d1d1d1;
}
.inputTitle:focus::-webkit-input-placeholder{
    color: #e8e8e8;
}


/*header authors*/
.editorAuthors{
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.authorSelect{
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    line-height: 22px;
    margin-right: 24px;
}

.selectImg{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 8px;
    flex-shrink: 0;
    background-color: #ccc;
}

.authorSelect img{
    width: 100%;
    height: 100%;
    outline: 1px solid rgba(0,0,0,0.1);
    outline-offset: -1px;
}

.authorName{
    flex-shrink: 1;
    min-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expandIcon{
    display: flex;
    align-items: center;
}


/*editor*/
.editorContent{
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.editorJS{
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    flex: 1;
    z-index: 1;
}
.editorJS .codex-editor__redactor{
    padding-bottom: 20px;
}
/* botom */
.editorBottom{
    position: sticky;
    display: flex;
    align-items: flex-start;
    order: 2;
    height: 86px;
    z-index: 6;
    flex-shrink: 0;
    /* margin-top: -5px; */
}

.bottomContent{
    display: flex;
    align-items: center;
    height: 86px;
}

.publishButton{
    offset: 16px;
    min-width: 44px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    background-color: #4683d9;
    color: #fff;
    box-shadow: 0 1px 2px rgba(70, 131, 217, 0.48), inset 0 -1px 0 rgba(0,0,0, 0.12);
}

.publishButton:active{
    transform: translateY(1px);
}

.buttonLabel{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
    margin: 0 auto;
}

.closeButton{
    width: 26px;
    height: 26px;
    margin: 18px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    user-select: none;
    opacity: 0.5;
    cursor: pointer;
}

.closeButton:hover{
    opacity: 1;
}

@media (max-width: 1025px) {
    .editorModal{
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        max-width: unset;
    }
    .Ieditor {
        max-width: 500px;
    }
    .ce-block__content {
        max-width: 500px;
        padding: 0 50px;
    }
}
@media (min-width: 651px){
    .codex-editor--narrow .codex-editor__redactor {
        margin-right: 0px;
    }

}
@media (max-width: 651px){
    .Ieditor{
        max-width: 350px;
        margin-left: 25px !important;
    }
}

@media (max-width: 446px) {
    .Ieditor{
        max-width: 300px;
        margin-left: 25px !important;
    }
}

@media (max-width: 376px) {
    .Ieditor{
        max-width: 250px;
        margin-left: 25px !important;
    }
    .closeButton{
        right: 20px;
        top: 5px;
    }
}
