.bookmark{
    transition: color 0.1s;
    cursor: pointer;
    color: var(--gray-color);
    fill: var(--gray-color);
    display: flex;
    align-items: center;
}

.bookmarkAddedColor {
    fill: #4683d9 !important;
}

.bookmark:hover{
    color: var(--blue-hover-color);
}

.bookmarkIcon{
    font-size: 25px;
}