.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    max-width: 960px;
    padding: 20px;
}

.title{
    background-color: white;
    padding: 50px;
    font-size: 36px;
    border-radius: 10px;

}

.titleText{
    font-weight: 600;
}

.titleQuestion{
    opacity: 0.5;
    font-size: 20px;
}

.members{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
}

@media (max-width: 1000px) {
    .members{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr / 1fr 1fr;
    }
}

.member{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}

.redactor{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
}

.redactorHeader{
    font-weight: 600;
    font-size: 25px;
}

.journalists{
    background-color: white;
    padding: 10px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name{
    font-size: 20px;
}

.list{
    display: flex;
    flex-direction: column;
}